version: "3.5"
services:
  besu:
    build:
      context: besu
      args:
        UPSTREAM_VERSION: 25.8.0
        STAKER_SCRIPTS_VERSION: v0.1.2
        DATA_DIR: /var/lib/besu
    volumes:
      - data:/var/lib/besu
    environment:
      RPC_MAX_LOGS_RANGE: "10000000"
      STORAGE_FORMAT: BONSAI
      SYNC_MODE: CHECKPOINT
      CONFIG_MODE: normal
      WS_ENABLED: "true"
      MAX_HTTP_CONNECTIONS: "170"
      P2P_PORT: "30414"
      BESU_OPTS: "-Xmx8g"
      EXTRA_OPTS: ""
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
volumes:
  data: {}
